In [1]:
import pandas as pd
import numpy as np
import os
import glob as gb
pd.options.display.max_columns = None
pd.set_option('display.max_rows',200)

In [2]:
# ruta carpeta datos
ruta_datos = os.path.abspath("./../data/")
df_datos = pd.read_csv(ruta_datos+'/Hisminsa_2022/consolidados/df_consolidado_23-01-23.csv', encoding='UTF-8')
df_datos

/tmp/ipykernel_2554/2965751193.py:3: DtypeWarning: Columns (20,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df_datos = pd.read_csv(ruta_datos+'/Hisminsa_2022/consolidados/df_consolidado_23-01-23.csv', encoding='UTF-8')

,Id_Cita,Anio,Mes,Dia,Fecha_Atencion,Id_Establecimiento,Id_Ups,Id_Condicion_Establecimiento,Id_Condicion_Servicio,Id_Paciente,Edad_Reg,Anio_Actual_Paciente,Mes_Actual_Paciente,Dia_Actual_Paciente,Tipo_Diagnostico,Codigo_Item,Id_Correlativo,Valor_Lab,Id_Correlativo_Lab,Id_Otra_Condicion,Fecha_Ultima_Regla,Id_Pais,Id_Tipo_Documento,Numero_Documento,Fecha_Nacimiento,Genero,Id_Etnia,Id_Pais_Paciente
0,793527131,2022,12,1,2022-12-01,2351,303713,C,C,493360412351,10,0.0,10.0,1.0,D,96110,1,NaN,1,NaN,NaN,PER,1,92735464,2022-01-31,M,58,PER
1,793527131,2022,12,1,2022-12-01,2351,303713,C,C,493360412351,10,0.0,10.0,1.0,D,99199.17,2,P05,1,NaN,NaN,PER,1,92735464,2022-01-31,M,58,PER
2,793527131,2022,12,1,2022-12-01,2351,303713,C,C,493360412351,10,0.0,10.0,1.0,D,99381,3,NaN,1,NaN,NaN,PER,1,92735464,2022-01-31,M,58,PER
3,793527131,2022,12,1,2022-12-01,2351,303713,C,C,493360412351,10,0.0,10.0,1.0,D,99403.01,4,5,1,NaN,NaN,PER,1,92735464,2022-01-31,M,58,PER
4,793527131,2022,12,1,2022-12-01,2351,303713,C,C,493360412351,10,0.0,10.0,1.0,R,D509,5,MOD,1,NaN,NaN,PER,1,92735464,2022-01-31,M,58,PER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18738467,738841576,2022,2,28,2022-02-28,2489,301204,R,R,470996642489,14,14.0,10.0,6.0,D,90749.01,2,P17,2,NaN,NaN,PER,1,60490385,2007-04-22,F,58,PER
18738468,738846479,2022,2,28,2022-02-28,2489,301204,R,R,205971772489,37,37.0,10.0,21.0,D,90749.01,1,3,1,NaN,NaN,PER,1,42326861,1984-04-07,F,58,PER
18738469,738846479,2022,2,28,2022-02-28,2489,301204,R,R,205971772489,37,37.0,10.0,21.0,D,90749.01,2,P39,2,NaN,NaN,PER,1,42326861,1984-04-07,F,58,PER
18738470,738890564,2022,2,28,2022-02-28,2489,301204,N,N,257157412489,13,13.0,8.0,9.0,D,90749.01,1,2,1,NaN,NaN,PER,1,61403725,2008-06-19,M,60,PER
18738471,738890564,2022,2,28,2022-02-28,2489,301204,N,N,257157412489,13,13.0,8.0,9.0,D,90749.01,2,P17,2,NaN,NaN,PER,1,61403725,2008-06-19,M,60,PER

In [3]:
df_joven = df_datos[df_datos['Anio_Actual_Paciente'].between(18,29)]
df_joven

,Id_Cita,Anio,Mes,Dia,Fecha_Atencion,Id_Establecimiento,Id_Ups,Id_Condicion_Establecimiento,Id_Condicion_Servicio,Id_Paciente,Edad_Reg,Anio_Actual_Paciente,Mes_Actual_Paciente,Dia_Actual_Paciente,Tipo_Diagnostico,Codigo_Item,Id_Correlativo,Valor_Lab,Id_Correlativo_Lab,Id_Otra_Condicion,Fecha_Ultima_Regla,Id_Pais,Id_Tipo_Documento,Numero_Documento,Fecha_Nacimiento,Genero,Id_Etnia,Id_Pais_Paciente
407,793736959,2022,12,1,2022-12-01,2288,303802,C,C,82287602288,19,19.0,8.0,6.0,D,96150.04,1,NaN,1,NaN,NaN,PER,1,71907820,2003-03-25,M,58,PER
408,793736959,2022,12,1,2022-12-01,2288,303802,C,C,82287602288,19,19.0,8.0,6.0,D,99402.09,2,NaN,1,NaN,NaN,PER,1,71907820,2003-03-25,M,58,PER
409,795998006,2022,12,4,2022-12-04,2288,303802,C,C,82287602288,19,19.0,8.0,9.0,D,96150.03,1,NaN,1,NaN,NaN,PER,1,71907820,2003-03-25,M,58,PER
410,795998006,2022,12,4,2022-12-04,2288,303802,C,C,82287602288,19,19.0,8.0,9.0,D,99402.09,2,NaN,1,NaN,NaN,PER,1,71907820,2003-03-25,M,58,PER
411,801916917,2022,12,14,2022-12-14,2288,303802,C,C,82287602288,19,19.0,8.0,19.0,D,96150.03,1,NaN,1,NaN,NaN,PER,1,71907820,2003-03-25,M,58,PER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18738459,735386421,2022,2,28,2022-02-28,2489,301204,N,N,297700932489,19,19.0,3.0,4.0,D,90749.01,1,3,1,NaN,NaN,PER,1,74646342,2002-11-24,M,58,PER
18738460,735386421,2022,2,28,2022-02-28,2489,301204,N,N,297700932489,19,19.0,3.0,4.0,D,90749.01,2,P19,2,NaN,NaN,PER,1,74646342,2002-11-24,M,58,PER
18738461,735421613,2022,2,28,2022-02-28,2489,301204,N,N,81091292489,29,29.0,0.0,0.0,D,90749.01,1,3,1,NaN,NaN,PER,1,70761608,1993-02-28,F,58,PER
18738462,735421811,2022,2,28,2022-02-28,2489,301204,N,N,273435142489,29,29.0,6.0,11.0,D,90749.01,1,3,1,NaN,NaN,PER,1,70847997,1992-08-17,M,58,PER
18738463,738841396,2022,2,28,2022-02-28,2489,301204,R,R,449181992489,28,28.0,10.0,25.0,D,90749.01,1,3,1,NaN,NaN,PER,1,47739424,1993-04-03,F,58,PER

In [4]:
df_jov = df_joven[['Id_Cita','Anio','Mes','Dia','Fecha_Atencion','Id_Establecimiento','Id_Ups','Id_Paciente','Edad_Reg','Genero','Id_Tipo_Documento','Numero_Documento','Fecha_Nacimiento','Id_Etnia','Id_Pais','Tipo_Diagnostico', 'Codigo_Item','Id_Correlativo', 'Valor_Lab', 'Id_Correlativo_Lab', 'Id_Otra_Condicion','Fecha_Ultima_Regla','Id_Condicion_Establecimiento','Id_Condicion_Servicio']]
df_jov

,Id_Cita,Anio,Mes,Dia,Fecha_Atencion,Id_Establecimiento,Id_Ups,Id_Paciente,Edad_Reg,Genero,Id_Tipo_Documento,Numero_Documento,Fecha_Nacimiento,Id_Etnia,Id_Pais,Tipo_Diagnostico,Codigo_Item,Id_Correlativo,Valor_Lab,Id_Correlativo_Lab,Id_Otra_Condicion,Fecha_Ultima_Regla,Id_Condicion_Establecimiento,Id_Condicion_Servicio
407,793736959,2022,12,1,2022-12-01,2288,303802,82287602288,19,M,1,71907820,2003-03-25,58,PER,D,96150.04,1,NaN,1,NaN,NaN,C,C
408,793736959,2022,12,1,2022-12-01,2288,303802,82287602288,19,M,1,71907820,2003-03-25,58,PER,D,99402.09,2,NaN,1,NaN,NaN,C,C
409,795998006,2022,12,4,2022-12-04,2288,303802,82287602288,19,M,1,71907820,2003-03-25,58,PER,D,96150.03,1,NaN,1,NaN,NaN,C,C
410,795998006,2022,12,4,2022-12-04,2288,303802,82287602288,19,M,1,71907820,2003-03-25,58,PER,D,99402.09,2,NaN,1,NaN,NaN,C,C
411,801916917,2022,12,14,2022-12-14,2288,303802,82287602288,19,M,1,71907820,2003-03-25,58,PER,D,96150.03,1,NaN,1,NaN,NaN,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18738459,735386421,2022,2,28,2022-02-28,2489,301204,297700932489,19,M,1,74646342,2002-11-24,58,PER,D,90749.01,1,3,1,NaN,NaN,N,N
18738460,735386421,2022,2,28,2022-02-28,2489,301204,297700932489,19,M,1,74646342,2002-11-24,58,PER,D,90749.01,2,P19,2,NaN,NaN,N,N
18738461,735421613,2022,2,28,2022-02-28,2489,301204,81091292489,29,F,1,70761608,1993-02-28,58,PER,D,90749.01,1,3,1,NaN,NaN,N,N
18738462,735421811,2022,2,28,2022-02-28,2489,301204,273435142489,29,M,1,70847997,1992-08-17,58,PER,D,90749.01,1,3,1,NaN,NaN,N,N
18738463,738841396,2022,2,28,2022-02-28,2489,301204,449181992489,28,F,1,47739424,1993-04-03,58,PER,D,90749.01,1,3,1,NaN,NaN,R,R

## Examen Odontologico No Gestantes Inician

In [125]:
#df_jovF = df_jov[(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D1310','D1330','D0120','D1110']))&(df_jov.Valor_Lab.isin(['1']))&(df_jov.Id_Otra_Condicion.isin([2,np.nan]))&(~(df_jov.Valor_Lab.isin(['G'])))]
#df_jovF = df_jov[(df_jov.Genero=='F')&(df_jov.Id_Condicion_Establecimiento=='C')&(df_jov.Id_Condicion_Servicio=='N')&(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D1310','D1330','D0120','D1110']))&(df_jov.Valor_Lab.isin(['1']))&(~(df_jov.Valor_Lab.isin(['G'])))]
# calcula alta basica odontologica no gestantes
#df_jovF = df_jov[(df_jov.Genero=='F')&(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D1310','D1330','D0120','D1110']))&(df_jov.Valor_Lab.isin(['1']))&(~(df_jov.Valor_Lab.isin(['G'])))]
#ok
#df_jovF1 = df_jov[(df_jov.Genero=='F')&(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D0150','D1310','D1330','D0120','D1110']))&(df_jov.Valor_Lab.isin(['1']))&(df_jov.Id_Otra_Condicion.isin([2,np.nan]))]
df_jovF = df_jov[(df_jov.Genero=='F')&(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D0150','D0120']))&(df_jov.Valor_Lab.isin(['1']))&(~(df_jov.Valor_Lab.isin(['G'])))&(df_jov.Id_Otra_Condicion.isin([2,np.nan]))&(df_jov.Fecha_Ultima_Regla.isnull())]
df_jovF

,Id_Cita,Anio,Mes,Dia,Fecha_Atencion,Id_Establecimiento,Id_Ups,Id_Paciente,Edad_Reg,Genero,Id_Tipo_Documento,Numero_Documento,Fecha_Nacimiento,Id_Etnia,Id_Pais,Tipo_Diagnostico,Codigo_Item,Id_Correlativo,Valor_Lab,Id_Correlativo_Lab,Id_Otra_Condicion,Fecha_Ultima_Regla,Id_Condicion_Establecimiento,Id_Condicion_Servicio
1825,665637612,2022,3,22,2022-03-22,2288,303304,78423512288,29,F,1,47579291,1992-08-07,58,PER,D,D0120,2,1,1,NaN,NaN,C,N
8119,631312903,2022,1,6,2022-01-06,2420,303304,249710012420,26,F,1,48613644,1995-03-25,58,PER,D,D0120,3,1,1,NaN,NaN,C,N
12719,742085308,2022,8,5,2022-08-05,2409,303304,15009412409,27,F,1,71297288,1995-08-02,58,PER,D,D0150,1,1,1,NaN,NaN,C,N
14365,759877044,2022,9,14,2022-09-14,2305,303304,293969352305,22,F,1,74173466,2000-08-19,58,PER,D,D0150,1,1,1,NaN,NaN,C,N
27913,792324899,2022,11,28,2022-11-28,2363,303304,31082122363,19,F,1,74178136,2003-02-13,40,PER,D,D0150,1,1,1,NaN,NaN,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18718589,653611704,2022,2,25,2022-02-25,2304,303304,248617522304,29,F,1,48429338,1992-04-11,58,PER,D,D0120,1,1,1,NaN,NaN,N,N
18719494,654998382,2022,2,25,2022-02-25,2468,303308,74275052468,23,F,1,71275394,1998-10-11,58,PER,D,D0150,1,1,1,NaN,NaN,C,R
18724092,652020926,2022,2,26,2022-02-26,2363,303304,2935622363,18,F,1,70816364,2004-01-25,58,PER,D,D0150,2,1,1,NaN,NaN,C,R
18726503,654673131,2022,2,26,2022-02-26,2289,303304,301476252289,19,F,1,74971547,2003-02-14,58,PER,D,D0150,1,1,1,NaN,NaN,C,N
18726955,656826155,2022,2,26,2022-02-26,2400,303304,295779102400,21,M,1,74445365,2000-12-13,58,PER,D,D0150,1,1,1,NaN,NaN,N,N

In [123]:
x = df_jovF.pivot_table(index=['Id_Cita','Anio','Mes','Dia','Fecha_Atencion','Id_Establecimiento','Id_Ups','Id_Paciente','Edad_Reg','Genero','Id_Tipo_Documento','Numero_Documento','Fecha_Nacimiento','Id_Etnia','Id_Pais'], columns=[], values=['Codigo_Item','Valor_Lab'], aggfunc='sum').reset_index()
x

,Id_Cita,Anio,Mes,Dia,Fecha_Atencion,Id_Establecimiento,Id_Ups,Id_Paciente,Edad_Reg,Genero,Id_Tipo_Documento,Numero_Documento,Fecha_Nacimiento,Id_Etnia,Id_Pais,Codigo_Item,Valor_Lab
0,619057989,2022,1,3,2022-01-03,2519,303304,292781692519,22,F,1,73662295,1999-08-29,58,PER,D0150,1
1,620230790,2022,1,4,2022-01-04,2519,303304,277566062519,18,F,1,71589031,2003-10-15,58,PER,D0150,1
2,620743588,2022,1,4,2022-01-04,2324,303304,316131352324,22,F,1,77692110,1999-11-20,58,PER,D0150,1
3,620747848,2022,1,4,2022-01-04,2324,303304,269208352324,22,F,1,70521322,1999-09-20,58,PER,D0150,1
4,620755997,2022,1,5,2022-01-05,2324,303304,292769832324,21,F,1,73948895,2000-07-24,58,PER,D0150,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7348,814466398,2023,1,6,2023-01-06,2377,303304,73371622377,19,F,1,75866357,2003-03-18,58,PER,D0150,1
7349,814467964,2023,1,7,2023-01-07,2377,303304,244180172377,29,F,1,47655685,1993-03-16,58,PER,D0150,1
7350,814480101,2023,1,12,2023-01-12,2377,303304,98679462377,23,F,1,72437923,1999-02-01,58,PER,D0150,1
7351,814481053,2023,1,12,2023-01-12,2377,303304,38670072377,22,F,1,72938371,2000-04-08,58,PER,D0150,1
7352,814485070,2023,1,13,2023-01-13,2377,303304,48856902377,19,F,1,72780891,2003-02-02,58,PER,D0150,1

In [ ]:
# y = x[(x.Valor_Lab.str.contains('G',na=False)) ]
# y

In [ ]:
# y = x[(x.Codigo_Item.str.contains('U510',na=False))  | (x.Valor_Lab.str.contains('ABO',na=False)) ]
# y

In [ ]:
# y = x[(x.Codigo_Item[1].str.contains('U510',na=False)) | (x.Codigo_Item[2].str.contains('U510',na=False)) | (x.Valor_Lab[1].str.contains('ABO',na=False)) | (x.Valor_Lab[2].str.contains('ABO',na=False))]
# y

In [ ]:
# df_jovDX = df_jovF[['Id_Cita', 'Anio','Mes','Dia','Id_Paciente','Codigo_Item','Id_Correlativo']]
# df_jovDX

In [ ]:
# df_jovPdx = df_jovDX.pivot(index=['Id_Cita','Anio','Mes','Dia','Id_Paciente'], columns=['Id_Correlativo'], values=['Codigo_Item']).reset_index()
# df_jovPdx

In [ ]:
# df_jovLab = df_jovF[['Id_Cita','Anio','Mes','Dia','Id_Paciente','Valor_Lab', 'Id_Correlativo_Lab']]
# df_jovLab

In [ ]:
# df_jovPLab = df_jovLab.pivot_table(index=['Id_Cita','Anio','Mes','Dia','Id_Paciente'], columns=['Id_Correlativo_Lab'], values=['Valor_Lab'], aggfunc='sum').reset_index()
# df_jovPLab

In [ ]:
# union de diagnosticos y pacientes
# df_jovDxLab = pd.merge(df_jovPdx, df_jovPLab, on=['Id_Cita','Anio','Mes','Dia','Id_Paciente'],how='inner')
# df_jovDxLab

In [ ]:
# df_jovDxLab = df_jovDxLab[(df_jovDxLab.Valor_Lab[1].str.contains('ABO',na=False)) | (df_jovDxLab.Valor_Lab[2].str.contains('ABO',na=False))]
# df_jovDxLab

In [ ]:
# unir con la tabla inicial
# df_jovenNoGesInician = pd.merge(y, df_joven, on=['Id_Cita','Anio','Mes','Dia'],how='inner')
# df_jovenNoGesInician

In [124]:
df2 = x.groupby(['Anio','Mes'])['Id_Cita'].agg(['count']).reset_index()
df2

    Anio  Mes  count
0   2022    1    982
1   2022    2   1019
2   2022    3   1169
3   2022    4    886
4   2022    5    708
5   2022    6    383
6   2022    7    337
7   2022    8    418
8   2022    9    367
9   2022   10    324
10  2022   11    322
11  2022   12    246
12  2023    1    192

## examen odontologico No Gestantes caso tratado

In [189]:
#df_jovF = df_jov[(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D1310','D1330','D0120','D1110']))&(df_jov.Valor_Lab.isin(['1']))&(df_jov.Id_Otra_Condicion.isin([2,np.nan]))&(~(df_jov.Valor_Lab.isin(['G'])))]
#df_jovF = df_jov[(df_jov.Genero=='F')&(df_jov.Id_Condicion_Establecimiento=='C')&(df_jov.Id_Condicion_Servicio=='N')&(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D1310','D1330','D0120','D1110']))&(df_jov.Valor_Lab.isin(['1']))&(~(df_jov.Valor_Lab.isin(['G'])))]
# calcula alta basica odontologica no gestantes
#df_jovF = df_jov[(df_jov.Genero=='F')&(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D1310','D1330','D0120','D1110']))&(df_jov.Valor_Lab.isin(['1']))&(~(df_jov.Valor_Lab.isin(['G'])))]
#ok
#df_jovF = df_jov[(df_jov.Genero=='F')&(df_jov.Id_Condicion_Servicio.isin(['N']))&(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D1310','D1330','D0120','D1110']))&(df_jov.Valor_Lab.isin(['1']))&(~(df_jov.Valor_Lab.isin(['G'])))]
df_jovF = df_jov[(df_jov.Genero=='F')&(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D0120','D1330','D1310','D1110','U510']))&(df_jov.Valor_Lab.isin(['2','ABO']))&(~(df_jov.Valor_Lab.isin(['G'])))&(df_jov.Id_Otra_Condicion.isin([2,np.nan]))]
df_jovF

,Id_Cita,Anio,Mes,Dia,Fecha_Atencion,Id_Establecimiento,Id_Ups,Id_Paciente,Edad_Reg,Genero,Id_Tipo_Documento,Numero_Documento,Fecha_Nacimiento,Id_Etnia,Id_Pais,Tipo_Diagnostico,Codigo_Item,Id_Correlativo,Valor_Lab,Id_Correlativo_Lab,Id_Otra_Condicion,Fecha_Ultima_Regla,Id_Condicion_Establecimiento,Id_Condicion_Servicio
8074,668481456,2022,3,9,2022-03-09,2420,303304,249710012420,26,F,1,48613644,1995-03-25,58,PER,D,D1310,1,2,1,NaN,NaN,C,C
8075,668481456,2022,3,9,2022-03-09,2420,303304,249710012420,26,F,1,48613644,1995-03-25,58,PER,D,D1330,2,2,1,NaN,NaN,C,C
12725,742085308,2022,8,5,2022-08-05,2409,303304,15009412409,27,F,1,71297288,1995-08-02,58,PER,D,U510,7,ABO,1,NaN,NaN,C,N
27889,800356668,2022,12,15,2022-12-15,2363,303304,31082122363,19,F,1,74178136,2003-02-13,40,PER,D,D1110,1,2,1,NaN,NaN,C,C
43296,796571812,2022,12,1,2022-12-01,2524,303304,302648922524,23,F,1,75323272,1999-02-11,58,PER,D,D1110,3,2,1,NaN,NaN,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18629621,646122734,2022,2,18,2022-02-18,7111,303304,294197987111,24,F,1,73988734,1997-09-10,58,PER,D,D1330,2,2,1,NaN,NaN,C,C
18629622,646122734,2022,2,18,2022-02-18,7111,303304,294197987111,24,F,1,73988734,1997-09-10,58,PER,D,D1310,3,2,1,NaN,NaN,C,C
18687809,654266397,2022,2,25,2022-02-25,21902,303304,652365021902,25,F,1,76162911,1996-06-26,58,PER,D,D1110,1,2,1,NaN,NaN,C,C
18687815,654266397,2022,2,25,2022-02-25,21902,303304,652365021902,25,F,1,76162911,1996-06-26,58,PER,D,D1330,7,2,1,NaN,NaN,C,C
18687816,654266397,2022,2,25,2022-02-25,21902,303304,652365021902,25,F,1,76162911,1996-06-26,58,PER,D,D1310,8,2,1,NaN,NaN,C,C

In [192]:
x = df_jovF.pivot_table(index=['Id_Cita','Anio','Mes','Dia','Fecha_Atencion','Id_Establecimiento','Id_Ups','Id_Paciente','Edad_Reg','Genero','Id_Tipo_Documento','Numero_Documento','Fecha_Nacimiento','Id_Etnia','Id_Pais'], columns=[], values=['Codigo_Item','Valor_Lab'], aggfunc='sum').reset_index()
x

,Id_Cita,Anio,Mes,Dia,Fecha_Atencion,Id_Establecimiento,Id_Ups,Id_Paciente,Edad_Reg,Genero,Id_Tipo_Documento,Numero_Documento,Fecha_Nacimiento,Id_Etnia,Id_Pais,Codigo_Item,Valor_Lab
0,620223499,2022,1,4,2022-01-04,2519,303304,102592482519,25,F,1,71586266,1996-11-18,58,PER,D1330D1310,22
1,620227897,2022,1,4,2022-01-04,2519,303304,292778832519,23,F,1,73662471,1998-04-22,58,PER,D1330D1310,22
2,621506066,2022,1,3,2022-01-03,2384,303304,93382172384,25,F,1,73640281,1996-05-16,40,PER,D1110,2
3,621567078,2022,1,6,2022-01-06,2300,303304,251904302300,27,F,1,48605138,1994-12-27,58,PER,D1110D1330D1310,222
4,621649273,2022,1,6,2022-01-06,2300,303304,292326522300,26,F,1,73657362,1995-09-03,58,PER,D1110D1330,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5581,814424412,2023,1,9,2023-01-09,2464,303304,86424572464,25,F,1,72654168,1997-04-15,58,PER,D1110,2
5582,814430725,2023,1,12,2023-01-12,2320,303304,246506682320,28,F,1,48174598,1994-02-28,58,PER,D1330D1310D1110,222
5583,814669639,2023,1,17,2023-01-17,2541,303304,288024812541,26,F,1,73063830,1996-05-08,58,PER,D1110,2
5584,814725997,2023,1,16,2023-01-16,2403,303304,317437442403,20,F,1,77710862,2002-04-14,58,PER,D1110,2
5585,814855659,2023,1,2,2023-01-02,2309,303304,87974492309,21,F,1,61401444,2001-04-10,58,PER,D1110,2

In [199]:
y = x[(x.Codigo_Item.str.contains('U510',na=False))|((x.Valor_Lab.str.contains('ABO',na=False)))|(x.Valor_Lab.str.contains('2',na=False))]
y

,Id_Cita,Anio,Mes,Dia,Fecha_Atencion,Id_Establecimiento,Id_Ups,Id_Paciente,Edad_Reg,Genero,Id_Tipo_Documento,Numero_Documento,Fecha_Nacimiento,Id_Etnia,Id_Pais,Codigo_Item,Valor_Lab
0,620223499,2022,1,4,2022-01-04,2519,303304,102592482519,25,F,1,71586266,1996-11-18,58,PER,D1330D1310,22
1,620227897,2022,1,4,2022-01-04,2519,303304,292778832519,23,F,1,73662471,1998-04-22,58,PER,D1330D1310,22
2,621506066,2022,1,3,2022-01-03,2384,303304,93382172384,25,F,1,73640281,1996-05-16,40,PER,D1110,2
3,621567078,2022,1,6,2022-01-06,2300,303304,251904302300,27,F,1,48605138,1994-12-27,58,PER,D1110D1330D1310,222
4,621649273,2022,1,6,2022-01-06,2300,303304,292326522300,26,F,1,73657362,1995-09-03,58,PER,D1110D1330,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5581,814424412,2023,1,9,2023-01-09,2464,303304,86424572464,25,F,1,72654168,1997-04-15,58,PER,D1110,2
5582,814430725,2023,1,12,2023-01-12,2320,303304,246506682320,28,F,1,48174598,1994-02-28,58,PER,D1330D1310D1110,222
5583,814669639,2023,1,17,2023-01-17,2541,303304,288024812541,26,F,1,73063830,1996-05-08,58,PER,D1110,2
5584,814725997,2023,1,16,2023-01-16,2403,303304,317437442403,20,F,1,77710862,2002-04-14,58,PER,D1110,2
5585,814855659,2023,1,2,2023-01-02,2309,303304,87974492309,21,F,1,61401444,2001-04-10,58,PER,D1110,2

In [200]:
dfCT = y.groupby(['Anio','Mes'])['Id_Cita'].agg(['count']).reset_index()
dfCT

    Anio  Mes  count
0   2022    1    274
1   2022    2    352
2   2022    3    448
3   2022    4    450
4   2022    5    516
5   2022    6    514
6   2022    7    440
7   2022    8    547
8   2022    9    522
9   2022   10    495
10  2022   11    527
11  2022   12    403
12  2023    1     98

## Examen Odontologico Gestantes Inician

In [ ]:
df_jovGI = df_jov[(df_jov.Id_Condicion_Establecimiento.isin(['C']))&(df_jov.Id_Condicion_Servicio.isin(['N']))&(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D0150','D0120','D1330','D1310']))&(df_jov.Valor_Lab.isin(['1','G']))]
df_jovGI

In [ ]:
x = df_jovGI.pivot_table(index=['Id_Cita','Anio','Mes','Dia','Fecha_Atencion','Id_Establecimiento','Id_Ups','Id_Paciente','Edad_Reg','Genero','Id_Tipo_Documento','Numero_Documento','Fecha_Nacimiento','Id_Etnia','Id_Pais'], columns=[], values=['Codigo_Item','Valor_Lab'], aggfunc='sum').reset_index()
x

In [ ]:
y = x[(x.Valor_Lab.str.contains('G',na=False)) ]
y

In [ ]:
dfGI = y.groupby(['Anio','Mes'])['Id_Cita'].agg(['count']).reset_index()
dfGI

# Examen odontologico gestantes caso tratado

In [ ]:
df_jovGCT = df_jov[(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D0150','D0120','D1330','D1310','D1110','U510']))&(df_jov.Valor_Lab.isin(['2','G','ABO']))]
df_jovGCT

In [ ]:
x = df_jovGCT.pivot_table(index=['Id_Cita','Anio','Mes','Dia','Fecha_Atencion','Id_Establecimiento','Id_Ups','Id_Paciente','Edad_Reg','Genero','Id_Tipo_Documento','Numero_Documento','Fecha_Nacimiento','Id_Etnia','Id_Pais'], columns=[], values=['Codigo_Item','Valor_Lab'], aggfunc='sum').reset_index()
x

In [ ]:
y = x[(x.Codigo_Item.str.contains('U510',na=False))  | (x.Valor_Lab.str.contains('ABO',na=False)) ]
y

In [ ]:
dfGCT = y.groupby(['Anio','Mes'])['Id_Cita'].agg(['count']).reset_index()
dfGCT

# instrucciones de higiene oral inician

In [ ]:
df_jovIHO = df_jov[(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D1330','U540']))&(df_jov.Valor_Lab.isin(['1']))]
df_jovIHO

In [ ]:
x = df_jovIHO.pivot_table(index=['Id_Cita','Anio','Mes','Dia','Fecha_Atencion','Id_Establecimiento','Id_Ups','Id_Paciente','Edad_Reg','Genero','Id_Tipo_Documento','Numero_Documento','Fecha_Nacimiento','Id_Etnia','Id_Pais'], columns=[], values=['Codigo_Item','Valor_Lab'], aggfunc='sum').reset_index()
x

In [ ]:
dfIHO = x.groupby(['Anio','Mes'])['Id_Cita'].agg(['count']).reset_index()
dfIHO

# instrucciones de higiene oral tratado

In [ ]:
df_jovIHOT = df_jov[(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D1330','U540']))&(df_jov.Valor_Lab.isin(['2']))]
df_jovIHOT

In [ ]:
x = df_jovIHOT.pivot_table(index=['Id_Cita','Anio','Mes','Dia','Fecha_Atencion','Id_Establecimiento','Id_Ups','Id_Paciente','Edad_Reg','Genero','Id_Tipo_Documento','Numero_Documento','Fecha_Nacimiento','Id_Etnia','Id_Pais'], columns=[], values=['Codigo_Item','Valor_Lab'], aggfunc='sum').reset_index()
x

In [ ]:
dfIHOt = x.groupby(['Anio','Mes'])['Id_Cita'].agg(['count']).reset_index()
dfIHOt

## Asesoría nutricional para el control de enfermedades dentales inician

In [ ]:
df_jovANi = df_jov[(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D1310']))&(df_jov.Valor_Lab.isin(['1']))]
df_jovANi

In [ ]:
x = df_jovANi.pivot_table(index=['Id_Cita','Anio','Mes','Dia','Fecha_Atencion','Id_Establecimiento','Id_Ups','Id_Paciente','Edad_Reg','Genero','Id_Tipo_Documento','Numero_Documento','Fecha_Nacimiento','Id_Etnia','Id_Pais'], columns=[], values=['Codigo_Item','Valor_Lab'], aggfunc='sum').reset_index()
x

In [ ]:
dfANi = x.groupby(['Anio','Mes'])['Id_Cita'].agg(['count']).reset_index()
dfANi

## Asesoría nutricional para el control de enfermedades dentales caso tratado

In [ ]:
df_jovANct = df_jov[(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['D1310']))&(df_jov.Valor_Lab.isin(['2']))]
df_jovANct

In [ ]:
x = df_jovANct.pivot_table(index=['Id_Cita','Anio','Mes','Dia','Fecha_Atencion','Id_Establecimiento','Id_Ups','Id_Paciente','Edad_Reg','Genero','Id_Tipo_Documento','Numero_Documento','Fecha_Nacimiento','Id_Etnia','Id_Pais'], columns=[], values=['Codigo_Item','Valor_Lab'], aggfunc='sum').reset_index()
x

In [ ]:
dfANct = x.groupby(['Anio','Mes'])['Id_Cita'].agg(['count']).reset_index()
dfANct

## Alta Basica Odontologica no gestantes

In [149]:
G=[]

In [150]:
df_jovABOng = df_jov[(df_jov.Genero.isin(G)if G else True)&(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['U510']))&(df_jov.Valor_Lab.isin([np.nan]))&(~(df_jov.Valor_Lab=='G'))&(df_jov.Id_Otra_Condicion.isin([2,np.nan]))]
df_jovABOng

,Id_Cita,Anio,Mes,Dia,Fecha_Atencion,Id_Establecimiento,Id_Ups,Id_Paciente,Edad_Reg,Genero,Id_Tipo_Documento,Numero_Documento,Fecha_Nacimiento,Id_Etnia,Id_Pais,Tipo_Diagnostico,Codigo_Item,Id_Correlativo,Valor_Lab,Id_Correlativo_Lab,Id_Otra_Condicion,Fecha_Ultima_Regla,Id_Condicion_Establecimiento,Id_Condicion_Servicio
76618,810294090,2023,1,3,2023-01-03,2322,303304,5945102322,20,F,1,72405212,2002-03-07,58,PER,D,U510,3,NaN,1,NaN,NaN,R,R
108922,713511765,2022,6,8,2022-06-08,2320,303304,248800822320,28,F,1,48253973,1993-11-08,58,PER,D,U510,7,NaN,1,NaN,NaN,R,R
108941,753467129,2022,8,25,2022-08-25,2320,301203,248800822320,28,F,1,48253973,1993-11-08,58,PER,D,U510,4,NaN,1,NaN,NaN,C,C
109047,732489606,2022,7,15,2022-07-15,2320,303304,248800822320,28,F,1,48253973,1993-11-08,58,PER,D,U510,4,NaN,1,NaN,NaN,C,C
110688,787555035,2022,11,16,2022-11-16,2547,303304,296867872547,23,F,1,74455063,1999-07-23,58,PER,D,U510,4,NaN,1,NaN,NaN,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18503074,648099367,2022,2,21,2022-02-21,2299,303304,87660332299,18,F,1,77382979,2003-06-01,58,PER,D,U510,3,NaN,1,NaN,NaN,C,C
18516413,645795353,2022,2,10,2022-02-10,2288,303305,320088932288,19,F,1,78464114,2002-07-26,58,PER,D,U510,4,NaN,1,NaN,NaN,C,C
18526387,650361526,2022,2,24,2022-02-24,2494,301102,269756532494,24,F,1,70384219,1997-07-28,58,PER,D,U510,9,NaN,1,NaN,NaN,C,C
18570736,650424898,2022,2,9,2022-02-09,2447,303304,330594262447,25,F,1,80834568,1996-05-21,36,PER,D,U510,6,NaN,1,NaN,NaN,C,C
18687817,654266397,2022,2,25,2022-02-25,21902,303304,652365021902,25,F,1,76162911,1996-06-26,58,PER,D,U510,9,NaN,1,NaN,NaN,C,C

In [141]:
x = df_jovABOng.pivot_table(index=['Id_Cita','Anio','Mes','Dia','Fecha_Atencion','Id_Establecimiento','Id_Ups','Id_Paciente','Edad_Reg','Genero','Id_Tipo_Documento','Numero_Documento','Fecha_Nacimiento','Id_Etnia','Id_Pais'], columns=[], values=['Codigo_Item','Valor_Lab'], aggfunc='sum').reset_index()
x

,Id_Cita,Anio,Mes,Dia,Fecha_Atencion,Id_Establecimiento,Id_Ups,Id_Paciente,Edad_Reg,Genero,Id_Tipo_Documento,Numero_Documento,Fecha_Nacimiento,Id_Etnia,Id_Pais,Codigo_Item,Valor_Lab
0,620223499,2022,1,4,2022-01-04,2519,303304,102592482519,25,F,1,71586266,1996-11-18,58,PER,U510,0
1,620227897,2022,1,4,2022-01-04,2519,303304,292778832519,23,F,1,73662471,1998-04-22,58,PER,U510,0
2,626838501,2022,1,12,2022-01-12,2300,303304,305303382300,19,F,1,75807244,2002-12-17,58,PER,U510,0
3,626904786,2022,1,8,2022-01-08,2300,303304,309880182300,24,F,1,76317853,1997-09-12,58,PER,U510,0
4,627051561,2022,1,11,2022-01-11,2315,303304,104923972315,29,F,1,47210775,1992-02-09,58,PER,U510,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1585,813876591,2023,1,17,2023-01-17,2522,303304,65459292522,23,F,1,74759152,1999-02-21,58,PER,U510,0
1586,813963192,2023,1,8,2023-01-08,2359,303304,20480252359,21,F,1,71829607,2001-05-18,58,PER,U510,0
1587,813972501,2023,1,14,2023-01-14,2359,303304,291041582359,19,F,1,73576895,2003-04-27,58,PER,U510,0
1588,814332016,2023,1,9,2023-01-09,2377,303304,32113742377,18,F,1,76264280,2004-12-25,58,PER,U510,0
1589,814536103,2023,1,16,2023-01-16,2302,303304,284947642302,27,F,1,72807665,1995-06-18,58,PER,U510,0

In [142]:
dfABO = x.groupby(['Anio','Mes'])['Id_Cita'].agg(['count']).reset_index()
dfABO

    Anio  Mes  count
0   2022    1     46
1   2022    2     55
2   2022    3     82
3   2022    4    120
4   2022    5    124
5   2022    6    152
6   2022    7    146
7   2022    8    166
8   2022    9    201
9   2022   10    160
10  2022   11    160
11  2022   12    152
12  2023    1     26

In [ ]:
## Alta Basica Odontologica gestantes

In [ ]:
df_jovABOg = df_jov[(df_jov.Genero=='F')&(df_jov.Tipo_Diagnostico.isin(['D']))&(df_jov.Codigo_Item.isin(['U510']))&(df_jov.Valor_Lab.isin(['G','ABO',np.nan]))]
df_jovABOg

In [ ]:
x = df_jovABOg.pivot_table(index=['Id_Cita','Anio','Mes','Dia','Fecha_Atencion','Id_Establecimiento','Id_Ups','Id_Paciente','Edad_Reg','Genero','Id_Tipo_Documento','Numero_Documento','Fecha_Nacimiento','Id_Etnia','Id_Pais'], columns=['Id_Correlativo_Lab'], values=['Codigo_Item','Valor_Lab'], aggfunc='sum').reset_index()
x

In [ ]:
dfABO = x.groupby(['Anio','Mes'])['Id_Cita'].agg(['count']).reset_index()
dfABO

# DETECCION DE ENFERMEDADES NO TRANSMISIBLES EN JOVENES

## Valoración Clinica de Factores de Riesgo

In [156]:
td = ['D']
dx = ['Z019']
lab = ['DNT']
G = ['F']

In [157]:
df_jovVCFR = df_jov[(df_jov.Genero.isin(G)if G else True)&(df_jov.Tipo_Diagnostico.isin(td)if td else True)&(df_jov.Codigo_Item.isin(dx)if dx else True)&(df_jov.Valor_Lab.isin(lab)if lab else True)]
df_jovVCFR

,Id_Cita,Anio,Mes,Dia,Fecha_Atencion,Id_Establecimiento,Id_Ups,Id_Paciente,Edad_Reg,Genero,Id_Tipo_Documento,Numero_Documento,Fecha_Nacimiento,Id_Etnia,Id_Pais,Tipo_Diagnostico,Codigo_Item,Id_Correlativo,Valor_Lab,Id_Correlativo_Lab,Id_Otra_Condicion,Fecha_Ultima_Regla,Id_Condicion_Establecimiento,Id_Condicion_Servicio
25555,760050883,2022,9,16,2022-09-16,17424,302303,3174053617424,22,F,1,77711306,1999-10-10,40,PER,D,Z019,1,DNT,1,NaN,NaN,C,C
29816,685029187,2022,4,28,2022-04-28,2401,302303,108809842401,19,F,1,77428901,2002-06-25,58,PER,D,Z019,1,DNT,1,NaN,NaN,C,C
34835,802658097,2022,12,20,2022-12-20,9691,302303,297976109691,21,F,1,74545057,2001-06-07,58,PER,D,Z019,1,DNT,1,NaN,NaN,C,C
35711,796305145,2022,12,1,2022-12-01,9689,301203,34172299689,21,F,1,63094911,2001-08-27,58,PER,D,Z019,1,DNT,1,NaN,NaN,C,C
37219,700205900,2022,5,22,2022-05-22,6960,301203,296579166960,22,F,1,74502260,1999-09-28,58,PER,D,Z019,1,DNT,1,NaN,NaN,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18721340,677906670,2022,2,25,2022-02-25,2330,302303,267393522330,23,F,1,70338340,1998-05-20,58,PER,D,Z019,1,DNT,1,NaN,NaN,C,C
18722273,652129803,2022,2,26,2022-02-26,2300,301203,303981092300,23,F,1,75335749,1998-03-04,58,PER,D,Z019,1,DNT,1,NaN,NaN,R,R
18730663,655701421,2022,2,27,2022-02-27,2478,302303,305781112478,23,F,1,75789141,1998-12-22,58,PER,D,Z019,1,DNT,1,NaN,NaN,C,C
18731061,652288209,2022,2,28,2022-02-28,23681,303203,2796911023681,24,F,1,71907122,1997-12-03,58,PER,D,Z019,1,DNT,1,NaN,NaN,C,C
18731795,653509310,2022,2,28,2022-02-28,2290,301203,270539182290,19,F,1,70584315,2002-10-15,58,PER,D,Z019,1,DNT,1,NaN,NaN,C,N

In [154]:
x = df_jovVCFR.pivot_table(index=['Id_Cita','Anio','Mes','Dia','Fecha_Atencion','Id_Establecimiento','Id_Ups','Id_Paciente','Edad_Reg','Genero','Id_Tipo_Documento','Numero_Documento','Fecha_Nacimiento','Id_Etnia','Id_Pais'], columns=['Id_Correlativo_Lab'], values=['Codigo_Item','Valor_Lab'], aggfunc='sum').reset_index()
x

,Id_Cita,Anio,Mes,Dia,Fecha_Atencion,Id_Establecimiento,Id_Ups,Id_Paciente,Edad_Reg,Genero,Id_Tipo_Documento,Numero_Documento,Fecha_Nacimiento,Id_Etnia,Id_Pais,Codigo_Item,Valor_Lab
Id_Correlativo_Lab,,,,,,,,,,,,,,,,1,1
0,619954471,2022,1,3,2022-01-03,2499,302303,281126862499,20,F,1,72401904,2001-08-27,58,PER,Z019,DNT
1,621401535,2022,1,3,2022-01-03,2384,302303,35030052384,18,F,1,71720962,2003-03-25,40,PER,Z019,DNT
2,621402551,2022,1,3,2022-01-03,2384,302303,280799812384,26,F,1,72210974,1995-11-28,40,PER,Z019,DNT
3,621407853,2022,1,3,2022-01-03,2384,302303,277811872384,24,F,1,71735367,1997-02-04,40,PER,Z019,DNT
4,621499310,2022,1,6,2022-01-06,2324,302303,292523052324,23,M,1,73797144,1998-05-26,58,PER,Z019,DNT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17652,814761703,2023,1,12,2023-01-12,2350,301203,307762882350,26,M,1,76294131,1996-09-24,58,PER,Z019,DNT
17653,814819331,2023,1,18,2023-01-18,9691,302303,246492779691,29,F,1,48073223,1993-07-13,58,PER,Z019,DNT
17654,814842571,2023,1,14,2023-01-14,6952,301203,332294766952,20,F,1,81430504,2002-04-02,58,PER,Z019,DNT
17655,814842779,2023,1,14,2023-01-14,6952,301203,98726416952,22,F,1,62281109,2000-02-10,58,PER,Z019,DNT
17656,814842991,2023,1,16,2023-01-16,6952,301203,98726416952,22,F,1,62281109,2000-02-10,58,PER,Z019,DNT

In [155]:
dfVCFR = x.groupby(['Anio','Mes'])['Id_Cita'].agg(['count']).reset_index()
dfVCFR

    Anio  Mes  count
0   2022    1    943
1   2022    2   1138
2   2022    3   1743
3   2022    4   1647
4   2022    5   3216
5   2022    6   1567
6   2022    7   1028
7   2022    8    802
8   2022    9    929
9   2022   10   1390
10  2022   11   1575
11  2022   12   1213
12  2023    1    466